<div class="bg-r">
    <div class="header-1 container">
        <h1><a href="#">logo</a></h1>
        <ul>
            <li><a class="mr-64 whi-decor" href="#">系列鏡框</a></li>
            <li><a class="mr-64 whi-decor" href="#">門市據點</a></li>
            <li><a class="mr-64 whi-decor" href="#">部落格</a></li>
            <li><a class="whi-decor" href="#">常見問題</a></li>
        </ul>
    </div>
</div>