
body{
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
}
.container{
    max-width:1320px;
    padding: 0 12px;
    margin: 0 auto;
}

/*設定連結樣式*/
.whi-decor{
    color:white;
    text-decoration: none;
}