

$primary:#AA0601;
$padding-t:96px;
$padding-b:80px;
$font-w6:600;




.bg-r{background: $primary;}
.pt-96{padding-top: $padding-t;}
.pb-80{padding-bottom: $padding-b;}
.fw-600{font-weight: $font-w6;}
