
/*color*/
$primary:#AA0601;
/*fsz*/
$font-xxl:36px;
$font-xl:20px;
$font-sm:14px;




/*color*/
.bg-r{background: $primary;}

/*fsz*/
.fs-20{font-size: $font-xl;}
.fs-14{font-size: $font-sm;}
.fs-36{font-size: $font-xxl;}
