.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@mixin mobile{
  @media(max-width:375px){
    @content;
  }
}

.mr-32{
  margin-right: 32px;
}
.mr-48{
  margin-right: 48px;
}

.eara-2{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  .d-flex{
    display: flex;
    img{
      width: 48px;
      height: 48px;
      @include mobile{
        width: 24px;
        height: 24px;
      }
      &:hover{
        transform:scale(1.1);
      }
    }
  }
}

.footer{
  padding-top: 60.02px;
  padding-bottom: 32px;
  @include mobile{
    padding-top:24px 0;
  }
  .box-3{
    display: flex;
    margin-bottom: 35.98px;
    @include mobile{
      display:none;
    }
    li{
      margin-right: 48px;
      a:hover{
        color:#000;
        transition: all 1s ease;
      }
    }
  }
  .box-4{
    li{
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      a,span{
        font-size: 36px;
        @include mobile{
          font-size: 16px;
        }
      }
      span{
        margin-right: 22px;
        @include mobile{
          margin-right: 8px;
        }
      }
      a:hover{
        color:#000;
        transition: all 1s ease;
      }
    }
  }
}

.bor{
  border-bottom:1px solid #fff;
  margin: 32px 0;
  @include mobile{
    margin: 24px 0 16px 0;
  }
}
.erea-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile{
    align-items: flex-start;
    flex-direction:column;
  }
  p{
    color:#fff;
  }
  ul{
    display: flex;
    @include mobile{
      flex-direction:column;
    }
    a{
      font-size: 14px;
      &:hover{
        color:#000;
        transition: all 1s ease;
      }
    }
  }
}

@include mobile{
  .eara-2{
    display: flex;
    justify-content: space-between;
  }
}