@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:375px){
    @content;
  }
}
@media (max-width: 552px) {
  .header-1{
      display: flex;
      flex-direction: column;
    }
    ul{
      li{
        width: 100%;
      }
    }
}



.header-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 15.43px;
  @include pad{
    width: auto;
    padding: 12px 36px 11.43px 36px;
  }
  @include mobile{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }

  ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    @include mobile{
      display: flex;
      justify-content:space-around;
      flex-wrap:wrap;
    }
    li{
      @include mobile{
        border:1px solid #fff;
        width:50%;
        text-align: center;
        padding: 12px 24px;
      }
      a{
        margin-top:25px;
        font-size: 20px;
        @include pad{
          font-size: 20px;
        }
        @include mobile{
          font-size: 16px;
        }
        &:hover{
          color:#000;
          transition: all 1s ease;
        }
      }
      .mr-64{
        margin-right: 64px;
      }
      @include mobile{
        .rwd-mr-64{
          margin-right: 0;
        }
      }
    }
  }
}


/*logo*/
h1 a{
  background-image: url(https://drive.google.com/uc?export=view&id=1fo7VTEdXoQ-DMxR2GObg4LkVMlD2S7VK);
  display: block;
  width: 80px;
  height: 48.57px;
  text-indent: 25em;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
  background-repeat: no-repeat;
  @include pad{
    margin-bottom: 15.43px;
    margin-left: 15px;
  }
  @include mobile{
    margin-bottom: 15.43px;
    margin-left: 15px;
  }
}
  
  