.header-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 15.43px;
  ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    a{
      margin-top:25px;
      font-size: 20px;
      &:hover{
        color:#000;
        transition: all 1s ease;
      }
    }
    .mr-64{
      margin-right: 64px;
    }
  }
}


/*logo*/
h1 a{
  background-image: url(https://drive.google.com/uc?export=view&id=1fo7VTEdXoQ-DMxR2GObg4LkVMlD2S7VK);
  display: block;
  width: 80px;
  height: 48.57px;
  text-indent: 25em;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
  background-repeat: no-repeat;
}
  
  