.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}


.main{
  padding-top: 96px;
  padding-bottom: 80px;
  h2{
    font-weight: 600;
    font-size: 48px;
    border-left:8px solid #9F1213;
    padding-left:16px;
    margin-bottom: 32px;
  }
  label{
    font-size: 24px;
    margin-right: 16px;
  }
  select{
    padding-top: 6px;
    padding-bottom: 6px;
    width:25%;
  }
}