
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.main{
  padding: 96px 0 80px 0;
  h2{
    font-size: 48px;
    border-left:8px solid #9F1213;
  }
}
label{
  font-size: 24px;
  margin-right: 16px;
}
.ops{
  padding: 6px 232px 6px 12px;
  font-size: 18px;
}
.title{
  border:1px solid #CFCFCF;
  img{
    width: 416px;
    height: 224px;
  }
}

.content{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.item-1{
  margin-right: 24px;
}