
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

@mixin pad{
    @media(max-width:768px){
      @content;
    }
}
@mixin mobile{
    @media(max-width:375px){
      @content;
    }
}

.section{
  @include mobile{
    padding-top: 40px;
    padding-bottom: 64px;
    }
  h2{
    font-weight: 600;
    font-size: 48px;
    border-left:8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 33px;
    @include mobile{
        font-size: 24px;
    }
  }
  label{
    font-weight: 700;
    font-size: 24px;
    margin-right: 16px;
    @include mobile{
        font-size: 16px;
    }
  }
  select{
    font-size: 18px;
    padding: 6px 0;
    width: 50%;
    @include mobile{
        width: 70%;
    }
  }
}
.content-2{
    margin-top: 40px;
    display: flex;
    @include pad{
        flex-direction:column;
        align-items: center;
    }
    .item-2{
        margin-bottom: 24px;
        @include pad{
            margin-right: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include mobile{
            flex-direction:column;
            margin-right:0;
        }
        h3{
            border:1px solid #CFCFCF;
            font-size: 24px;
            padding: 8px 0;
            padding-left: 24px;
        }
        img{
            width: 526px;
            height: 224px;
            @include pad{
                width: 337px;
            }
            @include mobile{
                flex-direction:column;
                width: 348px;
            }
        }
    }
    .mr-24{
        margin-right: 24px;
        @include mobile{
            margin-right: 0;
        }
    }


    .list-2{
        border:1px solid #CFCFCF;
        padding: 16px 0;
        padding-left: 24px;
        li{
            display: flex;
            span{
                margin-right: 8px;
            }
            .mb-8{
                margin-bottom: 8px;
            }
            .fs-20{
                font-size: 20px;
            }
            .mr-24{
                margin-right: 24px;
            }
        }
    }
}
.map{
    iframe{
        width: 746px;
        height: 414px;
        @include pad{
            width: 696px;
        }
        @include mobile{
            width: 348px;
            height: 208px;
        }
    }
}