<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="section">
      <div class="container">
        <h2>門市據點</h2>
        <from>
          <label for="branch">選擇分店</label>
          <select id="branch" name="branch">
            <option value="台北市">台北中山旗艦店</option>
            <option value="高雄市">台北綠園店</option>
            <option value="高雄市">台中清水旗艦店</option>
            <option value="高雄市">高雄中正形象店</option>
            <option value="高雄市">高雄夢時代店</option>
          </select>
        </from>

        <ul class="content-2">
          <li class="item-2 mr-24">
              <img src="../assets/images/store-1.png" alt="store-1">
            <div>
              <h3>台北中山旗艦店</h3>
              <ul class="list-2">
                  <li>
                    <span class="fs-20 material-symbols-outlined">
                      call
                      </span>
                    <p class="fs-20 mb-8">電話：(02)000-1234</p>
                  </li>
                  <li>
                    <span class="fs-20 material-symbols-outlined">
                      schedule
                      </span>
                    <p class="fs-20 mb-8">營業時間：10:00-21:00</p>
                  </li>
                  <li>
                    <span class="fs-20 material-symbols-outlined">
                      location_on
                      </span>
                    <p class="fs-20 mr-24">地址：台北市中山區南京東路25巷2-1號</p>
                  </li>
              </ul>
            </div>
          </li>
          <li class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7228.92433799394!2d121.52490206648012!3d25.052319980355954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z5Y-w5YyX5biC5Lit5bGx5Y2A5Y2X5Lqs5p2x6LevMjXlt7cyLTHomZ8!5e0!3m2!1szh-TW!2stw!4v1691216592904!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </li>
        </ul>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
